/target

# recommended by Fluence Labs:
.idea
.DS_Store
.fluence
**/node_modules
**/target/
.repl_history
.vscode/settings.json
src/ts/src/aqua
src/js/src/aqua

src/air
src/distro/decider-spell/

# builtin package artifacts
connector/
connector.tar.gz
decider.json

*.wasm

**/target
